@model TvTypeProgSelectorModel

@inject TvProgViewer.Core.IWebHelper webHelper

@if (Model.AvaliableTypes.Count > 0)
{
    <div class="prog-type-selector">
        @{ 
            var returnUrl = webHelper.GetRawUrl(Context.Request);
            var typeProgs = await Model.AvaliableTypes.SelectAwait(async x => new SelectListItem
            {
                Text = x.Name,
                Value = @Url.RouteUrl("ChangeTypeProg", new { usertypeprog = x.Id, returnUrl }, webHelper.GetCurrentRequestProtocol()) + ";" + x.Id,
                Selected = x.Id.Equals(Model.CurrentTypeProgId)
            }).ToListAsync();
            <select id="userTypeProg" class="form-control header-select" name="userTypeProg" asp-items="@typeProgs" onchange="setLocationWithPart(this.value);" aria-label="@T("TypeProg.Selector.Label")"></select>
        }
    </div>
}