@model TvChannelDetailsModel
@if (Model.HasSampleDownload)
{
    <div class="download-sample">
        <a class="button-2 download-sample-button" href="@Url.RouteUrl("GetSampleDownload", new { tvchannelid = Model.Id })">@T("TvChannels.DownloadSample")</a>
    </div>
}