@model TvChannelDetailsModel
@if (Model.TvChannelLiveUrlEnabled && !string.IsNullOrWhiteSpace(Model.TvChannelLiveUrl))
{
    <div class="tvChannel-live-url">
        <button type="button" class="button-2 tvChannel-live-url" onclick="window.open('@Model.TvChannelLiveUrl', '_blank')">@T("TvChannels.TvChannelLiveUrl")</button>
    </div>
}