@model IList<TvChannelOverviewModel>
@{
    Layout = "_ColumnsTwo";

    //title
    TvProgHtml.AddTitleParts(T("PageTitle.RecentlyViewedTvChannels").Text);
    //page class
    TvProgHtml.AppendPageCssClassParts("html-recently-viewed-tvchannels-page");
}
<div class="page recently-viewed-tvchannels-page">
    <div class="page-title">
        <h1>@T("TvChannels.RecentlyViewedTvChannels")</h1>
    </div>
    <div class="page-body">
        @if (Model.Count > 0)
        {
            <div class="tvchannel-grid">
                <div class="item-grid">
                    @foreach (var tvchannel in Model)
                    {
                        <div class="item-box">
                            @await Html.PartialAsync("_TvChannelBox", tvchannel)
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
