@model ShoppingCartSettingsModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-override-store-checkbox asp-for="MiniShoppingCartEnabled_OverrideForStore" asp-input="MiniShoppingCartEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <tvprog-label asp-for="MiniShoppingCartEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="MiniShoppingCartEnabled" />
            <span asp-validation-for="MiniShoppingCartEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="MiniShoppingCartEnabled">
        <div class="form-group row advanced-setting">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="MiniShoppingCartTvChannelNumber_OverrideForStore" asp-input="MiniShoppingCartTvChannelNumber" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="MiniShoppingCartTvChannelNumber" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="MiniShoppingCartTvChannelNumber" />
                <span asp-validation-for="MiniShoppingCartTvChannelNumber"></span>
            </div>
        </div>
        <div class="form-group row advanced-setting">
            <div class="col-md-3">
                <tvprog-override-store-checkbox asp-for="ShowTvChannelImagesInMiniShoppingCart_OverrideForStore" asp-input="ShowTvChannelImagesInMiniShoppingCart" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <tvprog-label asp-for="ShowTvChannelImagesInMiniShoppingCart" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="ShowTvChannelImagesInMiniShoppingCart" />
                <span asp-validation-for="ShowTvChannelImagesInMiniShoppingCart"></span>
            </div>
        </div>
    </tvprog-nested-setting>
</div>