@model UserUserSettingsModel

<script>
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.UserSettings.BirthDateRequired)").click(toggleUserRequiredFormField);
        $("#@Html.IdFor(model => model.UserSettings.CountryEnabled)").click(toggleUserCountryFormField);
        $("#@Html.IdFor(model => model.UserSettings.StateProvinceEnabled)").click(toggleUserStateProvinceFormField);

        toggleUserCountryFormField();
        toggleUserStateProvinceFormField();
        toggleUserRequiredFormField();
    });

    function toggleUserCountryFormField() {
        if ($('#@Html.IdFor(model => model.UserSettings.CountryEnabled)').is(':checked')) {
            $('#pnlUserCountryRequired').showElement();
            $('#pnlUserStateProvinceEnabled').showElement();
            toggleUserStateProvinceFormField();
        } else {
            $('#pnlUserCountryRequired').hideElement();
            $('#pnlUserStateProvinceEnabled').hideElement();
            toggleUserStateProvinceFormField();
        }
    }

    function toggleUserStateProvinceFormField() {
        if ($('#@Html.IdFor(model => model.UserSettings.CountryEnabled)').is(':checked') &&
            $('#@Html.IdFor(model => model.UserSettings.StateProvinceEnabled)').is(':checked')) {
            $('#pnlUserStateProvinceRequired').showElement();
        } else {
            $('#pnlUserStateProvinceRequired').hideElement();
        }
    }

    function toggleUserRequiredFormField() {
        if ($('#@Html.IdFor(model => model.UserSettings.BirthDateEnabled)').is(':checked') &&
            $('#@Html.IdFor(model => model.UserSettings.BirthDateRequired)').is(':checked')) {
            $('#pnlBirthDateMinimumAge').showElement();
        } else {
            $('#pnlBirthDateMinimumAge').hideElement();
        }
    }
</script>

<div class="card-body">
    <p>
        <em>@T("Admin.Configuration.Settings.UserUser.UserFormFields.Description")</em>
    </p>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.GenderEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.GenderEnabled" />
            <span asp-validation-for="UserSettings.GenderEnabled"></span>
        </div>
    </div>
	<div class="form-group row">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.FirstNameEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.FirstNameEnabled" />
            <span asp-validation-for="UserSettings.FirstNameEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="UserSettings.FirstNameEnabled">
        <div class="form-group row">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.FirstNameRequired" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.FirstNameRequired" />
                <span asp-validation-for="UserSettings.FirstNameRequired"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.LastNameEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.LastNameEnabled" />
            <span asp-validation-for="UserSettings.LastNameEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="UserSettings.LastNameEnabled">
        <div class="form-group row">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.LastNameRequired" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.LastNameRequired" />
                <span asp-validation-for="UserSettings.LastNameRequired"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.BirthDateEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.BirthDateEnabled" />
            <span asp-validation-for="UserSettings.BirthDateEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="UserSettings.BirthDateEnabled">
        <div class="form-group row">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.BirthDateRequired" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.BirthDateRequired" />
                <span asp-validation-for="UserSettings.BirthDateRequired"></span>
            </div>
        </div>
        <tvprog-nested-setting asp-for="UserSettings.BirthDateRequired" disable-auto-generation="true">
            <div class="form-group row" id="pnlBirthDateMinimumAge">
                <div class="col-md-3">
                    <tvprog-label asp-for="UserSettings.BirthDateMinimumAge" />
                </div>
                <div class="col-md-9">
                    <tvprog-editor asp-for="UserSettings.BirthDateMinimumAge" />
                    <span asp-validation-for="UserSettings.BirthDateMinimumAge"></span>
                </div>
            </div>
        </tvprog-nested-setting>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.CompanyEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.CompanyEnabled" />
            <span asp-validation-for="UserSettings.CompanyEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="UserSettings.CompanyEnabled">
        <div class="form-group row">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.CompanyRequired" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.CompanyRequired" />
                <span asp-validation-for="UserSettings.CompanyRequired"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.StreetAddressEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.StreetAddressEnabled" />
            <span asp-validation-for="UserSettings.StreetAddressEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="UserSettings.StreetAddressEnabled">
        <div class="form-group row">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.StreetAddressRequired" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.StreetAddressRequired" />
                <span asp-validation-for="UserSettings.StreetAddressRequired"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.StreetAddress2Enabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.StreetAddress2Enabled" />
            <span asp-validation-for="UserSettings.StreetAddress2Enabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="UserSettings.StreetAddress2Enabled">
        <div class="form-group row">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.StreetAddress2Required" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.StreetAddress2Required" />
                <span asp-validation-for="UserSettings.StreetAddress2Required"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.ZipPostalCodeEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.ZipPostalCodeEnabled" />
            <span asp-validation-for="UserSettings.ZipPostalCodeEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="UserSettings.ZipPostalCodeEnabled">
        <div class="form-group row">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.ZipPostalCodeRequired" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.ZipPostalCodeRequired" />
                <span asp-validation-for="UserSettings.ZipPostalCodeRequired"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.CityEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.CityEnabled" />
            <span asp-validation-for="UserSettings.CityEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="UserSettings.CityEnabled">
        <div class="form-group row">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.CityRequired" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.CityRequired" />
                <span asp-validation-for="UserSettings.CityRequired"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.CountyEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.CountyEnabled" />
            <span asp-validation-for="UserSettings.CountyEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="UserSettings.CountyEnabled">
        <div class="form-group row">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.CountyRequired" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.CountyRequired" />
                <span asp-validation-for="UserSettings.CountyRequired"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.CountryEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.CountryEnabled" />
            <span asp-validation-for="UserSettings.CountryEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="UserSettings.CountryEnabled" disable-auto-generation="true">
        <div class="form-group row" id="pnlUserCountryRequired">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.CountryRequired" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.CountryRequired" />
                <span asp-validation-for="UserSettings.CountryRequired"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row" id="pnlUserStateProvinceEnabled">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.StateProvinceEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.StateProvinceEnabled" />
            <span asp-validation-for="UserSettings.StateProvinceEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="UserSettings.StateProvinceEnabled" disable-auto-generation="true">
        <div class="form-group row" id="pnlUserStateProvinceRequired">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.StateProvinceRequired" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.StateProvinceRequired" />
                <span asp-validation-for="UserSettings.StateProvinceRequired"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.SmartPhoneEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.SmartPhoneEnabled" />
            <span asp-validation-for="UserSettings.SmartPhoneEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="UserSettings.SmartPhoneEnabled">
        <div class="form-group row">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.SmartPhoneRequired" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.SmartPhoneRequired" />
                <span asp-validation-for="UserSettings.SmartPhoneRequired"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.FaxEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.FaxEnabled" />
            <span asp-validation-for="UserSettings.FaxEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="UserSettings.FaxEnabled">
        <div class="form-group row">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.FaxRequired" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.FaxRequired" />
                <span asp-validation-for="UserSettings.FaxRequired"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.AcceptPrivacyPolicyEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.AcceptPrivacyPolicyEnabled" />
            <span asp-validation-for="UserSettings.AcceptPrivacyPolicyEnabled"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.NewsletterEnabled" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.NewsletterEnabled" />
            <span asp-validation-for="UserSettings.NewsletterEnabled"></span>
        </div>
    </div>
    <tvprog-nested-setting asp-for="UserSettings.NewsletterEnabled">
        <div class="form-group row">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.NewsletterTickedByDefault" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.NewsletterTickedByDefault" />
                <span asp-validation-for="UserSettings.NewsletterTickedByDefault"></span>
            </div>
        </div>
    </tvprog-nested-setting>
    @*render custom user attributes*@
    @await Html.PartialAsync("../UserAttribute/ListBlock.cshtml", Model.UserAttributeSearchModel)
</div>