@model DatesRangesSearchModel

<div class="card-body">
    <p>
        <em>@T("Admin.Configuration.Shipping.TvChannelAvailabilityRanges.Hint")</em>
    </p>
    @await Html.PartialAsync("Table", new DataTablesModel
    {
        Name = "tvChannelavailabilityrange-grid",
        UrlRead = new DataUrl("TvChannelAvailabilityRanges", "Shipping", null),
        SearchButtonId = "search-categories",
        Length = Model.TvChannelAvailabilityRangeSearchModel.PageSize,
        LengthMenu = Model.TvChannelAvailabilityRangeSearchModel.AvailablePageSizes,
        ColumnCollection = new List<ColumnProperty>
        {
            new ColumnProperty(nameof(TvChannelAvailabilityRangeModel.Name))
            {
                Title = T("Admin.Configuration.Shipping.TvChannelAvailabilityRanges.Fields.Name").Text
            },
            new ColumnProperty(nameof(TvChannelAvailabilityRangeModel.DisplayOrder))
            {
                Title = T("Admin.Configuration.Shipping.TvChannelAvailabilityRanges.Fields.DisplayOrder").Text,
                Width = "150",
                ClassName =  TvProgColumnClassDefaults.CenterAll
            },
            new ColumnProperty(nameof(TvChannelAvailabilityRangeModel.Id))
            {
                Title = T("Admin.Common.Edit").Text,
                Width = "100",
                ClassName =  TvProgColumnClassDefaults.Button,
                Render = new RenderButtonEdit(new DataUrl("EditTvChannelAvailabilityRange"))
            }
        }
    })
</div>
<div class="card-footer">
    <a asp-action="CreateTvChannelAvailabilityRange" class="btn btn-primary">
        <i class="fas fa-plus-square"></i>
        @T("Admin.Common.AddNew")
    </a>
</div>         