@model TvProgProviderSelectorModel

@inject TvProgViewer.Core.IWebHelper webHelper

@if (Model.AvaliableProviders.Count > 0)
{
<div class="provider-selector">
    @{
        var returnUrl = webHelper.GetRawUrl(Context.Request);
        var providers = await Model.AvaliableProviders.SelectAwait(async x => new SelectListItem
        {
            Text = x.Name,
            Value = Url.RouteUrl("ChangeProvider", new { userprovider = x.Id, returnUrl }, webHelper.GetCurrentRequestProtocol()) + ";" + x.Id,
            Selected = x.Id.Equals(Model.CurrentProviderId)
        }).ToListAsync();
            <select id="userProvider" class="form-control header-select" name="userProvider" asp-items="@providers" onchange="setLocationWithPart(this.value);" aria-label="@T("Provider.Selector.Label")"></select>
         
     }
</div>
}