@using TVProgViewer.BusinessLogic.ProgObjs;
@model Rating[]
@{
    ViewBag.Title = "Настройка рейтингов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mainwindow">
<div id="ratingTabs">
   <ul>
      <li><a href="#tabRating">Рейтинг передач</a></li>
	  <li><a href="#tabClassifRatings">Ключевые слова (фразы)</a></li>
   </ul>
   <div id="tabRating">
      <table id="tblUserRatings"></table>
	  <table id="userRatingsPager"></table>
   </div>
   <div id="tabClassifRatings">
      <div class="panelUpDown">
	     <button id="btnDown" class="downArrow fg-button ui-button ui-widget ui-corner-all"></button>
		 <button id="btnUp" class="upArrow fg-button ui-button ui-widget ui-corner-all"></button>
	  </div>
	  <div id="classifDiv" style="overflow-y: scroll; height: 500px;">
	     <table id="tblClassifRatings"></table>
		 <table id="classifRatingsPager"></table>
	  </div>
	</div>
</div>
</div>
<div style="clear: both"></div>
@section scripts {

    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
    <style type="text/css">
        td {
            border-top-color: transparent !important;
            border-bottom-color: transparent !important
        }

        #gbox_tblClassifRatings {
            width: 100% !important;
        }
		#tblClassifRatings_toppager {
		    width: 100% !important;
			font-size: 11px !important;
		}
        .ui-jqgrid-bdiv {
            width: 100% !important;
        }

        #gview_tblClassifRatings {
            width: 100% !important;
        }

        .ui-jqgrid-hdiv {
            width: 100% !important;
        }

        #classifRatingsPager {
            width: 100% !important;
        }
	    
		option.avatar {
		  background-repeat: no-repeat !important;
		  padding-left: 25px;
		  padding-bottom: 5px;
		  } 

		.avatar  {
		  background-position: left top;
		  width: 25px !important;
		  height: 25px !important;
		}
	
    </style>

    <script type="text/javascript">
        $.jgrid.useJSON = true;
    </script>
    <script src="~/Scripts/user-ratings.js"></script>
}
