@{
    Layout = "_ColumnsOne";

    //page class
    // Html.AppendPageCssClassParts("html-home-page");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jqgrid/i18n/grid.locale-ru.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/lib/jqgrid/jquery.jqgrid.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/programmes.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/user-channels.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/sticky-element.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/js/jsTree3/jstree.js");

}
<div id="infoPanel" class="panel panel-info" style="display: none"> 
    <div class="panel-heading">
       <h5 class="panel-title">Укажите необходимые телеканалы</h5>
    </div>
    <div class="panel-body">
        <p>Укажите нужные телеканалы и нажимте кнопку «Применить», которая появится после изменения выбора.</p> 
        <p>Или просто после выбора предпочитаемых калналов обновите страницу (F5).</p>
        <p>В дальнейшем, Ваш выбор запомнится. Также Вы сможете его изменить и настроить под свои вкусы когда захотите.</p>
        <p>Для сброса выбранных телеканалов можно воспользоваться соответствующей кнопкой.</p>
    </div>
</div>
<div id="tabs" style="margin-top: 8px">
    <ul class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
        <li class="ui-tabs ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active"><a href="#tabNow">Сейчас в телеэфире</a></li>
        <li class="ui-tabs"><a class="ui-tabs-anchor" href="#tabNext">Затем в телеэфире</a></li>
        
        <li class="ui-tabs ui-tabs-tab ui-corner-top ui-state-default ui-tab byDays" style="display:none"><a class="ui-tabs-anchor byDays" style="display: none" href="#tabByDays">По дням</a></li>
        <li class="ui-tabs ui-tabs-tab ui-corner-top ui-state-default ui-tab byChannels" style="display:none"><a class="ui-tabs-anchor byChannels" style="display: none" href="#tabByChannels">По каналам</a></li>
        
        <li class="ui-tabs ui-tabs-tab ui-corner-top ui-state-default ui-tab"><a class="ui-tabs-anchor" href="#tabSearch">Поиск по телепрограмме</a></li>
        <li class="ui-tabs ui-tabs-tab ui-corner-top ui-state-default ui-tab"><a class="ui-tabs-anchor" href="#tabChannels">Телеканалы</a></li>
    </ul>
    <div id="tabNow">
        <div id="mainToolNow" style="height:34px; display:none">
            <button id="anonsTool" style="display:none;"><img src="~/images/i/GreenAnons.png" /></button>
        </div>
        <div id="dragToolGenreNow" class="drag-tool-genre">
            <div id="genresToolNow" class="btn-group btn-group-sm btn-group-genres-now" style="display: none">

            </div>
        </div>
        <div id="mw" class="mainwindow">
            <table id="TVProgrammeNowGrid"></table>
            <table id="TVProgrammePager"></table>
        </div>
        <div id="anonsDescr" class="description" style="display:none"></div>
        <div style="clear:both"></div>
    </div>
    <div id="tabNext">
        <div id="mainToolNext" style="height:34px; display:none">
            <button id="anonsToolNext" style="margin: 3px; display:none;"><img src="~/images/i/GreenAnons.png" /></button>
        </div>
        <div id="dragToolGenreNext" class="drag-tool-genre">
            <div id="genresToolNext" class="btn-group btn-group-sm btn-group-genres-next" style="display: none">

            </div>
        </div>
        <div id="mw2" class="mainwindow">
            <table id="TVProgrammeNextGrid"></table>
            <table id="TVProgrammeNextPager"></table>
        </div>
        <div id="anonsDescrNext" class="description" style="display:none"></div>
        <div style="clear:both"></div>
    </div>
    
        <div id="tabByDays" class="byDays" style="display: none;">
            <div style="height:34px">
                <button id="anonsToolByDays" style="margin: 3px; display:none;"><img src="~/images/i/GreenAnons.png" /></button>
            </div>
            <div class="row panel">
                <div class="col-xs-2">
                    <div id="containerByDays"></div>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-xs-9">
                    <div id="mw5" class="mainwindow">
                        <div style="position: relative; height: 55px;">
                            <div id="ct" style="position: absolute; left: 0; padding: 8px 7px">
                                <img id="pic" style="display: none" />
                            </div>
                            <div id="channelText" style="position: absolute; font-size: 22pt; color: olive; height: 52px; left: 60px; top: 10px;"></div>
                            <div id="dtFull" style="display:none; position: absolute; height: 52px; right: 100px; font-size: 16pt;  color: olive; top: 18px; "></div>
                        </div>
                        <aside id="aside1">
                            <table id="TVProgrammeByDaysGrid"></table>
                            <table id="TVProgrammeByDaysPager"></table>
                            <div id="anonsDescrByDays" class="description" style="display:none"></div>
                        </aside>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabByChannels" class="byChannels" style="display: none;">
            <div style="height:34px">
                <button id="anonsToolByChannels" style="margin: 3px; display:none;"><img src="~/images/i/GreenAnons.png" /></button>
            </div>
            <div class="row panel">
                <div class="col-xs-2">
                    <div id="containerByChannels"></div>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-xs-9">
                    <div class="mainwindow">
                        <aside id="aside2">
                            <table id="TVProgrammeByChannelsGrid"></table>
                            <table id="TVProgrammeByChannelsPager"></table>
                            <div id="anonsDescrByChannels" class="description" style="display:none"></div>
                        </aside>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
    
    <div id="tabSearch">
        <div id="mw3" class="mainwindow">
            <div id="searchPanel" style="display: none">
                <div id="mainToolSearch" style="height:34px; display:none">
                    <button id="anonsToolSearch" style="margin: 3px; display:none;"><img src="~/images/i/GreenAnons.png" /></button>
                </div>
                <div id="dragToolGenreSearch" class="drag-tool-genre">
                    <div id="genresToolSearch" class="btn-group btn-group-sm btn-group-genres-search" style="display: none">

                    </div>

                </div>
                <div style="height: 39px; padding-left: 12px;">
                    <label for="tbContains">Содержит</label>
                    <input name="tbContains" id="tbContains" class="input-medium" type="text" />
                    <input id="btnSearch" type="button" value="Найти" />
                </div>
                <div id="datesToolSearch" class="container-fluid" style="margin-top: 10px">

                </div>
                <table id="SearchedTVProgramme"></table>
                <table id="TVProgrammeSearchPager"></table>
                <div id="anonsDescrSearch" class="description" style="display:none"></div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>
    <div id="tabChannels">
        <div id="mw4" class="mainwindow">
            <div id="mainToolChannel" class="btn-group btn-group-sm" style="height:34px; display:none">
                <button id="ChannelTool" style="display:none;">Сбросить все выделенные телеканалы</button>
                <button id="ApplyTool" style="display:none;">Применить</button>
            </div>
            <table id="tblSystemChannelsGrid"></table>
            <table id="systemChannelsPager"></table>
            <input id="hiddenChannels" type="hidden" />
        </div>
        <div style="clear:both"></div>
    </div>
</div>
<div style="clear:both"></div>
<div id="period" class="period"></div>
<div style="clear:both"></div>



