@model ManufacturerModel

@if (Model.Id > 0)
{
<div class="card-body">
    @await Html.PartialAsync("Table", new DataTablesModel
    {
        Name = "tvChannels-grid",
        UrlRead = new DataUrl("TvChannelList", "Manufacturer", new RouteValueDictionary { [nameof(Model.ManufacturerTvChannelSearchModel.ManufacturerId)] = Model.ManufacturerTvChannelSearchModel.ManufacturerId }),
        UrlDelete = new DataUrl("TvChannelDelete", "Manufacturer", null),
        UrlUpdate = new DataUrl("TvChannelUpdate", "Manufacturer", null),
        Length = Model.ManufacturerTvChannelSearchModel.PageSize,
        LengthMenu = Model.ManufacturerTvChannelSearchModel.AvailablePageSizes,
        ColumnCollection = new List<ColumnProperty>
            {
                new ColumnProperty(nameof(ManufacturerTvChannelModel.TvChannelName))
                {
                    Title = T("Admin.Catalog.Manufacturers.TvChannels.Fields.TvChannel").Text
                },
                new ColumnProperty(nameof(ManufacturerTvChannelModel.IsFeaturedTvChannel))
                {
                    Title = T("Admin.Catalog.Manufacturers.TvChannels.Fields.IsFeaturedTvChannel").Text,
                    Width = "150",
                    ClassName = TvProgColumnClassDefaults.CenterAll,
                    Render = new RenderBoolean(),
                    Editable = true,
                    EditType = EditType.Checkbox
                },
                new ColumnProperty(nameof(ManufacturerTvChannelModel.DisplayOrder))
                {
                    Title = T("Admin.Catalog.Manufacturers.TvChannels.Fields.DisplayOrder").Text,
                    Width = "150",
                    ClassName = TvProgColumnClassDefaults.CenterAll,
                    Editable = true,
                    EditType = EditType.Number
                },
                new ColumnProperty(nameof(ManufacturerTvChannelModel.TvChannelId))
                {
                    Title = T("Admin.Common.View").Text,
                    Width = "150",
                    ClassName = TvProgColumnClassDefaults.Button,
                    Render = new RenderButtonView(new DataUrl("~/Admin/TvChannel/Edit/", nameof(ManufacturerTvChannelModel.TvChannelId)))
                },
                new ColumnProperty(nameof(ManufacturerTvChannelModel.Id))
                {
                    Title = T("Admin.Common.Edit").Text,
                    Width = "200",
                    ClassName =  TvProgColumnClassDefaults.Button,
                    Render = new RenderButtonsInlineEdit()
                },
                new ColumnProperty(nameof(ManufacturerTvChannelModel.Id))
                {
                    Title = T("Admin.Common.Delete").Text,
                    Width = "100",
                    Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                    ClassName = TvProgColumnClassDefaults.Button
                }
            }
    })
</div>

<div class="card-footer">
    <button type="submit" id="btnAddNewTvChannel" onclick="javascript:OpenWindow('@(Url.Action("TvChannelAddPopup", "Manufacturer", new { manufacturerId = Model.Id, btnId = "btnRefreshTvChannels", formId = "manufacturer-form" }))', 800, 800, true); return false;" class="btn btn-primary">
        @T("Admin.Catalog.Manufacturers.TvChannels.AddNew")
    </button>
    <button type="submit" id="btnRefreshTvChannels" style="display: none"></button>
    <script>
        $(document).ready(function () {
            $('#btnRefreshTvChannels').click(function () {
                //refresh grid
                updateTable('#tvChannels-grid');

                //return false to don't reload a page
                return false;
            });
        });
    </script>
</div>
}
else
{
    <div class="card-body">
        @T("Admin.Catalog.Manufacturers.TvChannels.SaveBeforeEdit")
    </div>
}