body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 16px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.center {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar {
    float: right;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #000;
    text-align: center;
    background-color:  palegreen;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.mainwindow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

.description {
    font-size: 10pt;
    background-color: lightyellow;
    height: 100px;
    width: 100%;
    display: block;
    border-radius: 5px;
    padding: 3px;
    margin-top: 10px;
}

.ui-jqgrid .ui-jqgrid-view {
    font-size: 15px !important;
}

@font-face {
    font-family: 'Arial';
}

.ui-tabs .ui-tabs-nav li a {
    font-family: 'Arial' !important;
    font-size: 12pt !important;
}

.ui-widget {
    font-family: Arial !important;
    font-size: 12pt !important;
}
.jstree-leaf .jstree-anchor {
    font-family: 'Arial' !important;
    font-size: 12pt !important;
}
.sticky {
    position: fixed;
    z-index: 101;
}

.sticky2 {
    position: fixed;
    z-index: 101;
}

.stop {
    position: relative;
    z-index: 101;
}

.stop2 {
    position: relative;
    z-index: 101;
}

.panelUpDown {
    display: flex;
    height: 20px;
    white-space: nowrap;
    margin-bottom: 7px;
}

.btnUpDown {
    display: inline-flex;
    height: 100%;
    margin-left: -5px;
    padding-right: 9px;
    position: relative;
    white-space: nowrap;
}

.downArrow {
    background-image: url('../imgs/i/arrow_down.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align: middle;
    border: 1px solid #FFFFFF;
    width: 20px;
    opacity: .64;
    z-index: 10;
}

.downArrow:hover {
    background-image: url('../imgs/i/arrow_down.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align: middle;
    width: 20px;
    border: 1px solid #EFFFEF;
    opacity: 1;
    z-index: 10;
}

.downArrow:focus {
    background-image: url('../imgs/i/arrow_down.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align: middle;
    width: 20px;
    border: 1px dotted skyblue;
    opacity: 1;
    z-index: 10;
}

.upArrow {
    background-image: url('../imgs/i/arrow_up.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align: middle;
    width: 20px;
    border: 1px solid #FFFFFF;
    opacity: .64;
    z-index: 10;
}

.upArrow:hover {
    background-image: url('../imgs/i/arrow_up.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align: middle;
    width: 20px;
    border: 1px solid #EFFFEF;
    opacity: 1;
    z-index: 10;
}

.upArrow:focus{
    background-image: url('../imgs/i/arrow_up.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    vertical-align: middle;
    border: 1px dotted skyblue;
    width: 20px;
    opacity: 1;
    z-index: 10;
}

div.centerLayer {
    position: absolute;
    width: 300px;
    height: 209px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

@media (min-width: 1200px) { /* стиль имеет смысл, когда ширина экрана больше 1200px, к тому же не нужно придумывать решения для IE7 и ниже */
    div.allDisplay {
        width: 50vw;
        margin-left: 50%;
        height: 680px
    }

        div.allDisplay > div {
            width: 100vw; /* включает в себя полосу прокрутки от body */
            margin-left: -100%;
            height: 680px
        }
}

.drag-tool-genre {
    width: auto;
    padding-left: 15px;
    margin-bottom: 8px;
    z-index: 999;
    background-image: url('../imgs/i/draggable.png');
    background-repeat: no-repeat;
    background-position-y:center;
    border-radius: 3px 4px;
    cursor: move;
}

.footer-font-small {
    font-size: 10pt;
    font-weight: 300;
}

.mt8 {
    margin-top: 8px;
}