<!-- Yandex.RTB R-A-5258749-3 -->
<!-- Yandex.RTB R-A-5258749-4 -->
<script asp-location="Footer">
    $(document).ready(function () {
        $('#advertise-rewarded-box-start-ok').on('click', function () {
            window.yaContextCb.push(() => {
                if (Ya.Context.AdvManager.getPlatform() === 'desktop') {
                    // Вызов блока Rewarded для десктопной версии
                    Ya.Context.AdvManager.render({
                        "blockId": "R-A-5258749-3",
                        "type": "rewarded",
                        "platform": "desktop",
                        "onRewarded": (isRewarded) => {
                            if (isRewarded) {
                                // Условие получения награды выполнено
                                sendStatForChannelRating();
                                document.location.href = "/";
                            } else {
                                // Условие получения награды не выполнено
                            }
                        }
                    });
                } else {
                    // Вызов блока Rewarded для мобильной версии
                    Ya.Context.AdvManager.render({
                        "blockId": "R-A-5258749-4",
                        "type": "rewarded",
                        "platform": "touch",
                        "onRewarded": (isRewarded) => {
                            if (isRewarded) {
                                // Условие получения награды выполнено
                                sendStatForChannelRating();
                                document.location.href = "/";
                            } else {
                                // Условие получения награды не выполено
                            }
                        }
                    });
                }
            });
        });
    });
</script>
<div id="advertise-rewarded-box-start" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Выберите действие</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Переход к программе передач для выбранных вами каналов будет доступен после просмотра небольшой рекламы, когда вознаграждение станет доступным</p>
            </div>
            <div class="modal-footer">
                <button id="advertise-rewarded-box-start-cancel" type="button" class="btn btn-outline-secondary" data-dismiss="modal">Закрыть</button>
                <button id="advertise-rewarded-box-start-ok" type="button" class="btn btn-outline-primary">Посмотреть рекламу и перейти</button>
            </div>
        </div>
    </div>
</div>