@using TVProgViewer.BusinessLogic.ProgObjs;
@model SystemProgramme[]

@{
    ViewBag.Title = "TVProgViewer: программа передач по всем каналам сейчас, следом, поиск телепередач";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="choicePnl" style="position: relative; display:none">
    <div>
        <label for="TVProgProvider">Провайдер ТВ-программы</label>
        <select name="TVProgProvider" id="TVProgProvider" class="input-medium"></select>
    </div>
    <div style="position: absolute; left: 430px; top: 0px">
        <label for="TVProgType">Тип ТВ-программы</label>
        <select name="TVProgType" id="TVProgType" class="input-medium"></select>
    </div>
    <div style="position: absolute; left: 770px; top: 0px">
        <label for="TVProgCategories">Категории</label>
        <select name="TVProgCategories" id="TVProgCategories" class="input-medium"></select>
    </div>
</div>
<div id="tabs">
    <ul>
        <li><a href="#tabNow">Сейчас в телеэфире</a></li>
        <li><a href="#tabNext">Затем в телеэфире</a></li>
        @if (User.Identity.IsAuthenticated)
        {
            <li><a href="#tabByDays">По дням</a></li>
            <li><a href="#tabByChannels">По каналам</a></li>
        }
        <li><a href="#tabSearch">Поиск по телепрограмме</a></li>
    </ul>
    <div id="tabNow">
        <div style="height:34px">
            <button id="anonsTool" style="margin: 3px; display:none;"><img src="~/imgs/i/GreenAnons.png" /></button>
        </div>
        <div class="mainwindow">
            <table id="TVProgrammeNowGrid"></table>
            <table id="TVProgrammePager"></table>
        </div>
        <div id="anonsDescr" class="description"></div>
        <div style="clear:both"></div>
    </div>
    <div id="tabNext">
        <div style="height:34px">
            <button id="anonsToolNext" style="margin: 3px; display:none;"><img src="~/imgs/i/GreenAnons.png" /></button>
        </div>
        <div class="mainwindow">
            <table id="TVProgrammeNextGrid"></table>
            <table id="TVProgrammeNextPager"></table>
        </div>
        <div id="anonsDescrNext" class="description"></div>
        <div style="clear:both"></div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div id="tabByDays">
            <div style="height:34px">
                <button id="anonsToolByDays" style="margin: 3px; display:none;"><img src="~/imgs/i/GreenAnons.png" /></button>
            </div>
            <div class="row panel">
                <div class="col-xs-2">
                    <div id="containerByDays"></div>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-xs-9">
                    <div class="mainwindow">
                        <div style="position: relative; height: 55px;">
                            <div id="ct" style="position: absolute; left: 0; padding: 8px 7px">
                                <img id="pic" style="display: none" />
                            </div>
                            <div id="channelText" style="position: absolute; font-size: 22pt; color: olive; height: 52px; left: 60px; top: 10px;"></div>
                            <div id="dtFull" style="display:none; position: absolute; height: 52px; right: 100px; font-size: 16pt;  color: olive; top: 18px; "></div>
                        </div>
                        <aside id="aside1">
                            <table id="TVProgrammeByDaysGrid"></table>
                            <table id="TVProgrammeByDaysPager"></table>
                            <div id="anonsDescrByDays" class="description"></div>
                        </aside>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabByChannels">
            <div style="height:34px">
                <button id="anonsToolByChannels" style="margin: 3px; display:none;"><img src="~/imgs/i/GreenAnons.png" /></button>
            </div>
            <div class="row panel">
                <div class="col-xs-2">
                    <div id="containerByChannels"></div>
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-xs-9">
                    <div class="mainwindow">
                        <aside id="aside2">
                            <table id="TVProgrammeByChannelsGrid"></table>
                            <table id="TVProgrammeByChannelsPager"></table>
                            <div id="anonsDescrByChannels" class="description"></div>
                        </aside>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div id="tabSearch">
        <div class="mainwindow">
            <div style="height:39px;">
                <label for="tbContains">Содержит</label>
                <input name="tbContains" id="tbContains" class="input-medium" type="text" />
                <input id="btnSearch" type="button" value="Найти" />
            </div>
            <table id="SearchedTVProgramme"></table>
            <table id="TVProgrammeSearchPager"></table>
        </div>
    </div>
</div>
<div style="clear:both"></div>
<div id="period" style="margin-left: 25px;"></div>
<div style="clear:both"></div>

@section scripts {

    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <style type="text/css">
        td {
            border-top-color: transparent !important;
            border-bottom-color: transparent !important
        }
    </style>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript">
        $.jgrid.no_legacy_api = true;
        $.jgrid.useJSON = true;
		var uv = @ViewData["UID"];
    </script>
    <script src="~/Scripts/programmes.js"></script>
    <script src="~/Scripts/sticky-element.js"></script>
}