@model SocialModel
<div>
    <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="https://yastatic.net/share2/share.js" async="async"></script>
    <div class="ya-share2" data-description="TVProgViewer — веб-приложение для тонкой настройки и удобного просмотра программы телепередач по всем каналам с анонсами" data-counter="true" data-services="collections,vkontakte,odnoklassniki,moimir,twitter,reddit,lj,telegram,viber,whatsapp,skype"></div>
</div>