@model TvChannelModel
@using TvProgViewer.Web.Framework.Models.AdminAreaTour

@{
    //page title
    ViewBag.PageTitle = T("Admin.Catalog.TvChannels.AddNew").Text;
    //tour step
    ViewBag.TourStep = TourStep.TvChannel;
    //active menu item (system name)
    TvProgHtml.SetActiveMenuItemSystemName("TvChannels");
}

@await Html.PartialAsync("_AdminTour")

<form asp-controller="TvChannel" asp-action="Create" method="post" id="tvChannel-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Catalog.TvChannels.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Catalog.TvChannels.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            @await Component.InvokeAsync(typeof(AdminWidgetViewComponent), new { widgetZone = AdminWidgetZones.TvChannelDetailsButtons, additionalData = Model })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
@if (!Model.IsLoggedInAsVendor)
{
    //tvChannel editor settings modal
    @await Html.PartialAsync("_TvChannelEditorSettingsModal", Model)
}