@model SocialModel
<div>
    <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="https://yastatic.net/share2/share.js"></script>
    <div class="ya-share2" data-curtain 
        data-description="TvProgViewer — бесплатное веб-приложение для тонкой настройки и удобного просмотра программы телепередач по всем каналам с анонсами" 
        data-counter="true" data-shape="round" data-limit="9" 
        data-services="messenger,vkontakte,odnoklassniki,telegram,twitter,viber,whatsapp,moimir,skype,pinterest,tumblr,lj">
    </div>
</div>