@model UserUserSettingsModel

<div class="panel-body">
    <div class="form-group">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.AllowViewingProfiles" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.AllowViewingProfiles" />
            <span asp-validation-for="UserSettings.AllowViewingProfiles"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.ShowUsersLocation" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.ShowUsersLocation" />
            <span asp-validation-for="UserSettings.ShowUsersLocation"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3">
            <tvprog-label asp-for="UserSettings.ShowUsersJoinDate" />
        </div>
        <div class="col-md-9">
            <tvprog-editor asp-for="UserSettings.ShowUsersJoinDate" />
            <span asp-validation-for="UserSettings.ShowUsersJoinDate"></span>
        </div>
    </div>
</div>
<script>
$(document).ready(function () {
    $("#@Html.IdFor(model => model.UserSettings.AllowUsersToUploadAvatars)").click(toggleAvatar);
    $("#@Html.IdFor(model => model.UserSettings.UsernamesEnabled)").click(toggleUsername);
    $("#@Html.IdFor(model => model.UserSettings.UsernameValidationEnabled)").click(toggleUsernameValidation);

    toggleAvatar();
    toggleUsername();
    toggleUsernameValidation();
});

function toggleAvatar() {
    if ($('#@Html.IdFor(model => model.UserSettings.AllowUsersToUploadAvatars)').is(':checked')) {
        $('#pnlDefaultAvatarEnabled').show();
    } else {
        $('#pnlDefaultAvatarEnabled').hide();
    }
}

function toggleUsername() {
    if ($('#@Html.IdFor(model => model.UserSettings.UsernamesEnabled)').is(':checked')) {
        $('#pnlAllowUsersToChangeUsernames').show();
        $('#pnlCheckUsernameAvailability').show();
        $('#pnlUsernameValidationEnabled').show();
    } else {
        $('#pnlAllowUsersToChangeUsernames').hide();
        $('#pnlCheckUsernameAvailability').hide();
        $('#pnlUsernameValidationEnabled').hide();
    }
}

    function toggleUsernameValidation() {
    if ($('#@Html.IdFor(model => model.UserSettings.UsernameValidationEnabled)').is(':checked')) {
        $('#pnlUsernameValidationRule').show();
        $('#pnlUsernameValidationUseRegex').show();
    } else {
        $('#pnlUsernameValidationRule').hide();
        $('#pnlUsernameValidationUseRegex').hide();
    }
}
</script>