@using TVProgViewer.Core.Domain.Users
@using TVProgViewer.Services
@model UserUserSettingsModel

<div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.PasswordMinLength" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.PasswordMinLength" />
                <span asp-validation-for="UserSettings.PasswordMinLength"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.PasswordRequireLowercase" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.PasswordRequireLowercase" />
                <span asp-validation-for="UserSettings.PasswordRequireLowercase"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.PasswordRequireUppercase" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.PasswordRequireUppercase" />
                <span asp-validation-for="UserSettings.PasswordRequireUppercase"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.PasswordRequireNonAlphanumeric" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.PasswordRequireNonAlphanumeric" />
                <span asp-validation-for="UserSettings.PasswordRequireNonAlphanumeric"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.PasswordRequireDigit" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.PasswordRequireDigit" />
                <span asp-validation-for="UserSettings.PasswordRequireDigit"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.UnduplicatedPasswordsNumber" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.UnduplicatedPasswordsNumber" />
                <span asp-validation-for="UserSettings.UnduplicatedPasswordsNumber"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.DefaultPasswordFormat" />
            </div>
            <div class="col-md-9">
                <tvprog-select asp-for="UserSettings.DefaultPasswordFormat" asp-items="@(((PasswordFormat)Model.UserSettings.DefaultPasswordFormat).ToSelectList())" />
                <span asp-validation-for="UserSettings.DefaultPasswordFormat"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.PasswordLifetime" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.PasswordLifetime" />
                <span asp-validation-for="UserSettings.PasswordLifetime"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.PasswordRecoveryLinkDaysValid" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.PasswordRecoveryLinkDaysValid" />
                <span asp-validation-for="UserSettings.PasswordRecoveryLinkDaysValid"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.FailedPasswordAllowedAttempts" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.FailedPasswordAllowedAttempts" />
                <span asp-validation-for="UserSettings.FailedPasswordAllowedAttempts"></span>
            </div>
        </div>
        <div class="form-group" id="pnlFailedPasswordLockoutMinutes">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.FailedPasswordLockoutMinutes" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.FailedPasswordLockoutMinutes" />
                <span asp-validation-for="UserSettings.FailedPasswordLockoutMinutes"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <tvprog-label asp-for="UserSettings.EnteringEmailTwice" />
            </div>
            <div class="col-md-9">
                <tvprog-editor asp-for="UserSettings.EnteringEmailTwice" />
                <span asp-validation-for="UserSettings.EnteringEmailTwice"></span>
            </div>
        </div>
    </div>
