@{
    Layout = "_ColumnsOne";

}
<div class="page tvguideinfo-update">
    <div class="page-title">
        <h1>Добрый день! TvProgViewer готов к приёму новой программы передач.</h1>
    </div>
    <div class="page-body">
       <h2>Спасибо!</h2>  
    </div>
</div>