@model IList<TvChannelOverviewModel>
@if (Model.Count > 0)
{
    <div class="tvchannel-grid cross-sells">
        <div class="title">
            <strong>@T("ShoppingCart.CrossSells")</strong>
        </div>
        <div class="item-grid">
            @foreach (var tvChannel in Model)
            {
                <div class="item-box">
                    @await Html.PartialAsync("_TvChannelBox", tvChannel)
                </div>
            }
        </div>
    </div>
}