<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.1.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net48" />
  <package id="EntityFramework.CodeFirstStoreFunctions" version="1.2.0" targetFramework="net48" />
  <package id="EntityFramework.Functions" version="1.4.1" targetFramework="net48" />
  <package id="morelinq" version="3.2.0" targetFramework="net48" />
  <package id="NLog" version="4.6.7" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>