
@{
    ViewBag.Title = "Страница не найдена";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<div class="allDisplay">
       
</div>
<div class="centerLayer">
    <img src="../../imgs/i/LCD-TV-Panel_404.png" alt="Страница не найдена" />
</div>
@section scripts {
    
}