@{
    Layout = "_Root.Head";
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")
<div class="master-wrapper-page">
    @await Component.InvokeAsync("AdminHeaderLinks")
    @await Html.PartialAsync("_Header")
    <div class="master-wrapper-content">
        <div class="header-upper">
            <div class="header-selectors-wrapper">
                <label for="userProvider">Провайдер ТВ-программы&nbsp;</label>
                @await Component.InvokeAsync("TvProgProviderSelector")
                <label for="userTypeProg">Тип ТВ-программы&nbsp;</label>
                @await Component.InvokeAsync("TvTypeProgSelector")
                <label for="userCategory">Категория&nbsp;</label>
                @await Component.InvokeAsync("TvCategorySelector")
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
            </div>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })

        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }
        <div class="master-column-wrapper">
            @RenderBody()
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
    </div>
        @await Component.InvokeAsync("Footer")
    </div>
    @await Component.InvokeAsync("EuCookieLaw")
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
