@using TvProgViewer.Services.Stores
@model UserModel
@inject IStoreService storeService

<div class="card-body">
    @await Html.PartialAsync("Table", new DataTablesModel
    {
        Name = "backinstock-subscriptions-grid",
        UrlRead = new DataUrl("BackInStockSubscriptionList", "User", new RouteValueDictionary { [nameof(Model.UserBackInStockSubscriptionSearchModel.UserId)] = Model.UserBackInStockSubscriptionSearchModel.UserId }),
        Length = Model.UserBackInStockSubscriptionSearchModel.PageSize,
        LengthMenu = Model.UserBackInStockSubscriptionSearchModel.AvailablePageSizes,
        ColumnCollection = new List<ColumnProperty>
        {
            new ColumnProperty(nameof(UserBackInStockSubscriptionModel.StoreName))
            {
                Title = T("Admin.Users.Users.BackInStockSubscriptions.Store").Text,
                Width = "200",
                Visible = (await storeService.GetAllStoresAsync()).Count > 1
            },
            new ColumnProperty(nameof(UserBackInStockSubscriptionModel.ProductName))
            {
                Title = T("Admin.Users.Users.BackInStockSubscriptions.Product").Text,
                Width = "300",
                Render = new RenderLink(new DataUrl("~/Admin/Product/Edit/", nameof(UserBackInStockSubscriptionModel.ProductId)))
            },
            new ColumnProperty(nameof(UserBackInStockSubscriptionModel.CreatedOn))
            {
                Title = T("Admin.Users.Users.BackInStockSubscriptions.CreatedOn").Text,
                Width = "200",
                Render = new RenderDate()
            }
        }
    })
</div>
