@using TvProgViewer.Services.Stores
@model UserModel
@inject IStoreService storeService
<div class="card-body">
    @await Html.PartialAsync("Table", new DataTablesModel
    {
        Name = "order-grid",
        UrlRead = new DataUrl("OrderList", "User", new RouteValueDictionary { [nameof(Model.UserOrderSearchModel.UserId)] = Model.UserOrderSearchModel.UserId }),
        Length = Model.UserOrderSearchModel.PageSize,
        LengthMenu = Model.UserOrderSearchModel.AvailablePageSizes,
        ColumnCollection = new List<ColumnProperty>
        {
            new ColumnProperty(nameof(UserOrderModel.CustomOrderNumber))
            {
                Title = T("Admin.Users.Users.Orders.CustomOrderNumber").Text,
                Width = "200"
            },
            new ColumnProperty(nameof(UserOrderModel.OrderTotal))
            {
                Title = T("Admin.Users.Users.Orders.OrderTotal").Text,
                Width = "200"
            },
            new ColumnProperty(nameof(UserOrderModel.OrderStatus))
            {
                Title = T("Admin.Users.Users.Orders.OrderStatus").Text,
                Width = "200",
                Render = new RenderCustom("renderColumnOrderStatus")
            },
            new ColumnProperty(nameof(UserOrderModel.PaymentStatus))
            {
                Title = T("Admin.Orders.Fields.PaymentStatus").Text,
                Width = "200"
            },
            new ColumnProperty(nameof(UserOrderModel.ShippingStatus))
            {
                Title = T("Admin.Orders.Fields.ShippingStatus").Text,
                Width = "200"
            },
            new ColumnProperty(nameof(UserOrderModel.StoreName))
            {
                Title = T("Admin.Orders.Fields.Store").Text,
                Width = "200",
                Visible = (await storeService.GetAllStoresAsync()).Count > 1
            },
            new ColumnProperty(nameof(UserOrderModel.CreatedOn))
            {
                Title = T("Admin.System.Log.Fields.CreatedOn").Text,
                Width = "200",
                Render = new RenderDate()
            },
            new ColumnProperty(nameof(UserOrderModel.Id))
            {
                Title = T("Admin.Common.View").Text,
                Width = "100",
                ClassName = TvProgColumnClassDefaults.Button,
                Render = new RenderButtonView(new DataUrl("~/Admin/Order/Edit/"))
            }
        }
    })
    <script>
        function renderColumnOrderStatus(data, type, row, meta) {
            var color; 
            switch (row.OrderStatusId) {
            case 10: color = 'yellow'; break;
            case 20: color = 'blue'; break;
            case 30: color = 'green'; break;
            case 40: color = 'red'; break;
            }
            return '<span class="grid-report-item ' + color + '">' + data + '</span >';
        }
    </script>
</div>
