@using TvProgViewer.Services.Localization
@using TvProgViewer.Core
@inject ILocalizationService localizationService
@inject IStoreContext storeContext

@{
    Layout = "_ColumnsOne";

    var homepageTitle = await localizationService.GetLocalizedAsync(await storeContext.GetCurrentStoreAsync(), s => s.HomepageTitle);

    //title
    if (!string.IsNullOrEmpty(homepageTitle))
    {
        TvProgHtml.AddTitleParts(homepageTitle);
    }

    var homepageDescription = await localizationService.GetLocalizedAsync(await storeContext.GetCurrentStoreAsync(), s => s.HomepageDescription);

    //meta
    if (!string.IsNullOrEmpty(homepageDescription))
    {
        TvProgHtml.AddMetaDescriptionParts(homepageDescription);
    }

    //page class
    TvProgHtml.AppendPageCssClassParts("html-home-page");
    TvProgHtml.AppendCssFileParts("~/css/jqGrid/ui.jqgrid.css");
    TvProgHtml.AppendScriptParts(ResourceLocation.Footer, "~/lib/jqGrid/i18n/grid.locale-ru.js");
    TvProgHtml.AppendScriptParts(ResourceLocation.Footer, "~/lib/jqGrid/jquery.jqgrid.min.js");
    TvProgHtml.AppendScriptParts(ResourceLocation.Footer, "~/js/public.common.min.js");
    TvProgHtml.AppendScriptParts(ResourceLocation.Footer, "~/js/programmes.min.js");
    TvProgHtml.AppendScriptParts(ResourceLocation.Footer, "~/js/user-channels.min.js");
    TvProgHtml.AppendScriptParts(ResourceLocation.Footer, "~/js/jsTree3/jstree.js");
}
<div class="page home-page">
    <div class="page-body">
        @await Component.InvokeAsync(typeof(TopicBlockViewComponent), new { systemName = "HomepageText" })
        <div id="category-editor" class="form-group row">
           @await Component.InvokeAsync("TvCategorySelector")
        </div>
        <div id="tabs">
            <ul class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
                <li class="ui-tabs ui-tabs-tab ui-corner-top ui-state-default ui-tab tabNow">
                    <a href="#tabNow">Сейчас в телеэфире</a>
                </li>
                <li class="ui-tabs tabNext">
                    <a class="ui-tabs-anchor" href="#tabNext">Затем в телеэфире</a>
                </li>
                <li class="ui-tabs ui-tabs-tab ui-corner-top ui-state-default ui-tab byDays tabByDays" style="display: none;">
                    <a class="ui-tabs-anchor byDays" style="display: none;" href="#tabByDays">По дням</a>
                </li>
                <li class="ui-tabs ui-tabs-tab ui-corner-top ui-state-default ui-tab byChannels tabByChannels" style="display: none;">
                    <a class="ui-tabs-anchor byChannels" style="display: none;" href="#tabByChannels">По каналам</a>
                </li>
                <li class="ui-tabs ui-tabs-tab ui-corner-top ui-state-default ui-tab tabSearch">
                    <a class="ui-tabs-anchor" href="#tabSearch">Поиск по телепрограмме</a>
                </li>
                <li class="ui-tabs ui-tabs-tab ui-corner-top ui-state-default ui-tab tabChannels">
                    <a class="ui-tabs-anchor" href="#tabChannels">Телеканалы</a>
                </li>
            </ul>
            <div id="tabNow">
                <div id="mainToolNow" class="height-panel" style="display: none;">
                    <button id="anonsTool" class="btn-anons" style="display: none;"><img src="~/images/i/GreenAnons.png" alt="Показать анонс" /></button>
                </div>
                <div id="dragToolGenreNow" class="drag-tool-genre">
                    <div id="genresToolNow" class="btn-group btn-group-sm btn-group-genres-now" style="display: none;">
                    </div>
                </div>
                <div id="mw" class="mainwindow">
                    <table id="TVProgrammeNowGrid"></table>
                    <table id="TVProgrammePager"></table>
                </div>
                <div id="anonsDescr" class="description" style="display: none;"></div>
            </div>
            <div id="tabNext">
                <div id="mainToolNext" class="height-panel" style="display: none;">
                    <button id="anonsToolNext" class="btn-anons" style="display: none;"><img src="~/images/i/GreenAnons.png" alt="Показать анонс" /></button>
                </div>
                <div id="dragToolGenreNext" class="drag-tool-genre">
                    <div id="genresToolNext" class="btn-group btn-group-sm btn-group-genres-next" style="display: none;">
                    </div>
                </div>
                <div id="mw2" class="mainwindow">
                    <table id="TVProgrammeNextGrid"></table>
                    <table id="TVProgrammeNextPager"></table>
                </div>
                <div id="anonsDescrNext" class="description" style="display: none;"></div>
            </div>

            <div id="tabByDays" class="byDays" style="display: none;">
                <div id="mainToolByDays" class="height-panel" style="display: none;">
                    <button id="anonsToolByDays" class="btn-anons" style="display: none;"><img src="~/images/i/GreenAnons.png" alt="Показать анонс"/></button>
                </div>
                <div class="row panel">
                    <div class="col-xs-3">
                        <div id="containerByDays"></div>
                    </div>
                    <div class="col-xs-1">
                    </div>
                    <div class="col-sm-8">
                        <div id="mw5" class="mainwindow sticky-day">
                            <div class="tv-chan-panel">
                                <div id="ct" class="chan-header">
                                    <img id="pic" src="~/images/system/large/1.gif" alt="Эмблема канала" style="display: none;" />
                                </div>
                                <div id="channelText" class="channel-text"></div>
                                <div id="dtFull" class="date-of-prog" style="display: none;"></div>
                            </div>
                            <aside id="aside1">
                                <table id="TVProgrammeByDaysGrid"></table>
                                <table id="TVProgrammeByDaysPager"></table>
                                <div id="anonsDescrByDays" class="description" style="display: none;"></div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tabByChannels" class="byChannels" style="display: none;">
                <div id="mainToolByChannels" class="height-panel" style="display: none;">
                    <button id="anonsToolByChannels" class="btn-anons" style="display: none;"><img src="~/images/i/GreenAnons.png" alt="Показать анонс" /></button>
                </div>
                <div class="row panel">
                    <div class="col-xs-3">
                        <div id="containerByChannels"></div>
                    </div>
                    <div class="col-xs-1">
                    </div>
                    <div class="col-sm-8">
                        <div id="mw6" class="mainwindow sticky-channel">
                            <aside id="aside2">
                                <table id="TVProgrammeByChannelsGrid"></table>
                                <table id="TVProgrammeByChannelsPager"></table>
                                <div id="anonsDescrByChannels" class="description" style="display: none;"></div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tabSearch">
                <div id="mw3" class="mainwindow">
                    <div id="searchPanel" style="display: none;">
                        <div id="mainToolSearch" class="height-panel" style="display: none;">
                            <button id="anonsToolSearch" class="btn-anons" style="display: none;"><img src="~/images/i/GreenAnons.png" alt="Показать анонс" /></button>
                        </div>
                        <div class="tv-search-container">
                            <label for="tbContains">Содержит</label>
                            <input name="tbContains" id="tbContains" class="input-medium" type="text" />
                            <input id="btnSearch" class="btn btn-outline-secondary" type="button" value="Найти" />
                        </div>
                        <div id="chkToolSearch">
                            <button id="chkAll" class="btn" type="button" value="Отметить все">
                                <img src="~/images/i/checkAll.png" alt="Отметить все" title="Отметить все"/>
                            </button>
                            <button id="chkUncheckAll" class="btn" type="button" value="Снять флажки у всех">
                                <img src="~/images/i/UncheckAll.png" alt="Снять флажки у всех" title="Снять флажки у всех"/>
                            </button>
                            <button id="chkInvert" class="btn" type="button" value="Инвертировать">
                                <img src="~/images/i/checkInvert.png" alt="Инвертировать" title="Инвертировать" />
                            </button>
                        </div>
                        <div id="searchTabs">
                            <ul class="nav nav-tabs" id="searchConditionTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="calendarTab" data-toggle="tab" href="#calendar-tab-pane" role="tab" aria-controls="calendar-tab-pane" aria-selected="true">
                                        <img src="\images\i\calendar.png" alt="Дни для выбора" title="Дни" />
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="channelTab" data-toggle="tab" href="#channel-tab-pane" role="tab" aria-controls="channel-tab-pane" aria-selected="false">
                                        <img src="\images\i\satellite_dish25.png" alt="Телеканалы для выбора" title="Телеканалы" />
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="genreTab" data-toggle="tab" href="#genre-tab-pane" role="tab" aria-controls="genre-tab-pane" aria-selected="false">
                                        <img src="\images\i\GenreEditor25.png" alt="Жанры для выбора" title="Жанры" />
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content" id="searchConditionContent">
                                <div class="tab-pane fade show active" id="calendar-tab-pane" role="tabpanel" aria-labelledby="calendarTab" tabindex="0">
                                   <div id="datesToolSearch" class="container-fluid dates-search-container"></div>
                                </div>
                                <div class="tab-pane fade" id="channel-tab-pane" role="tabpanel" aria-labelledby="channelTab" tabindex="0">
                                   <div id="channelToolSearch" class="container-fluid dates-search-container"></div> 
                                </div>
                                <div class="tab-pane fade" id="genre-tab-pane" role="tabpanel" aria-labelledby="genreTab" tabindex="0">
                                    <div id="genreToolSearch" class="container-fluid dates-search-container"></div>
                                </div>
                            </div>
                        </div>
                        <table id="SearchedTVProgramme"></table>
                        <table id="TVProgrammeSearchPager"></table>
                        <div id="anonsDescrSearch" class="description" style="display: none;"></div>
                    </div>
                </div>
            </div>
            <div id="tabChannels">
                <div id="mw4" class="mainwindow">
                    <div id="mainToolChannel" class="btn-group btn-group-sm height-panel divider-3b" style="display: none;">
                        <button id="ChannelTool" class="btn btn-outline-secondary btn-chan-reset" style="display: none;">Очистить</button>
                        <button id="ApplyTool" class="btn btn-outline-primary btn-chan-accept" style="display: none;">Применить</button>
                    </div>
                    <table id="tblSystemChannelsGrid"></table>
                    <table id="systemChannelsPager"></table>
                    <input id="hiddenChannels" type="hidden" />
                    <div id="mainToolChannelBottom" class="btn-group btn-group-sm height-panel divider-3t" style="display: none;">
                        <button id="ChannelToolBottom" class="btn btn-outline-secondary btn-chan-reset" style="display: none;">Очистить</button>
                        <button id="ApplyToolBottom" class="btn btn-outline-primary btn-chan-accept" style="display: none;">Применить</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="period" class="period"></div>
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeTvChannels })
        @await Component.InvokeAsync(typeof(HomepageTvChannelsViewComponent))
        @* @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeBestSellers })
        @await Component.InvokeAsync(typeof(HomepageBestSellersViewComponent))
        *@
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBeforeNews })
        @await Component.InvokeAsync(typeof(HomepageNewsViewComponent))
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.HomepageBottom })
    </div>
</div>
