<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ProductName = "TVProgViewer"?>
  <?define ProductVersion = "1.2.1044.19"?>
  <?define ProductCode = "7767e9c3-42ce-490e-aa17-4a3622aea3a9"?>
  <?define UpgradeCode = "70635ade-daee-4bd3-a95b-475c2966606b"?>
  <?define Manufacturer = "Инновационные Перспективные Системы"?>
  <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1049" Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" SummaryCodepage="1251" Description="Программа для просмотра тв-программы и телепередач"
             Manufacturer="$(var.Manufacturer)" Comments="Данный пакет предназначен для установки TVProgViewer"/>

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.ProductName)">
          <Directory Id="Data" Name ="Data" >
            <Component Id="ProductComponent3" Guid ="39e5a26d-c48f-4aa3-81e7-64aa493a6c10">
              <File Id ="classifGenres"
                    Source = "G:\Users\NOVATOR\Documents\Visual Studio 2010\Projects\TVProgViewer\TVProgViewer\bin\x64\Release\Data\classifGenres.xml" />
              <File Id ="expChanOptions"
                    Source = "G:\Users\NOVATOR\Documents\Visual Studio 2010\Projects\TVProgViewer\TVProgViewer\bin\x64\Release\Data\expchanoptions.xml" />
              <File Id ="MergeXmltv"
                    Source ="G:\Users\NOVATOR\Documents\Visual Studio 2010\Projects\TVProgViewer\TVProgViewer\bin\x64\Release\Data\MergeXmltv.xslt" />
              <File Id ="UniqKey"
                    Source ="G:\Users\NOVATOR\Documents\Visual Studio 2010\Projects\TVProgViewer\TVProgViewer\bin\x64\Release\Data\UniqKey.xslt" />
              <File Id ="RemoveManyChans"
                    Source ="G:\Users\NOVATOR\Documents\Visual Studio 2010\Projects\TVProgViewer\TVProgViewer\bin\x64\Release\Data\RemoveManyChans.xslt" />
              <File Id ="RemoveOldProg"
                    Source ="G:\Users\NOVATOR\Documents\Visual Studio 2010\Projects\TVProgViewer\TVProgViewer\bin\x64\Release\Data\RemoveOldProg.xslt" />
            </Component>
          </Directory>
          <Directory Id="GIFS" Name ="Gifs">
            <Component Id="ProductComponent4" Guid ="39e5a26d-c48f-4aa3-81e7-64aa493a6c11">
              <File Id ="gif1"
                    Source = "G:\Users\NOVATOR\Documents\Visual Studio 2010\Projects\TVProgViewer\TVProgViewer\bin\Debug\Gifs\1.gif" />
            </Component>
          </Directory>
          <Directory Id="Templates" Name="Templates" DiskId="1">
            <Component Id="ProductComponent2" Guid ="39e5a26d-c48f-4aa3-81e7-64aa493a6ce9">
              <File Id ="exp_template1"
                    Source = "G:\Users\NOVATOR\Documents\Visual Studio 2010\Projects\TVProgViewer\TVProgViewer\bin\Debug\Templates\exp_template1.xls" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name ="$(var.ProductName)">
          <Component Id="ApplicationShortcutTVProgViewer" Guid ="35450E5B-E12A-406D-9215-65DB3C220F7A">
            <Shortcut Id="ShortcutTVProgViewer"
                      Name="TVProgViewer"
                      Description="$(var.ProductName)"
                      Target ="[INSTALLLOCATION]TVProgViewer.exe"
                      WorkingDirectory="INSTALLLOCATION" />
            <Shortcut Id="HelpShortcut"
                      Name ="Справка"
                      Description ="Справочное руководство TVProgViewer"
                      Target ="[INSTALLLOCATION]Help.chm"/>
            <Shortcut Id="UninstallProduct"
                      Name = "Удалить TVProgViewer"
                      Target = "[System64Folder]msiexec.exe"
                      Arguments = "/x [ProductCode]"
                      Description="Удаляет TVProgViewer с данного компьютера" />
            <RemoveFolder Id="ApplicationProgramsFolder" On ="uninstall"></RemoveFolder>
            <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="installed"
                           Type="integer" Value="1" KeyPath="yes"/>

          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">

      <ComponentRef Id="ProductComponent" />
      <ComponentRef Id="ProductComponent2"/>
      <ComponentRef Id="ProductComponent3"/>
      <ComponentRef Id="ProductComponent4"/>
      <ComponentRef Id="ApplicationShortcutTVProgViewer" />

    </Feature>
    <PropertyRef Id="NETFRAMEWORK40CLIENT"/>
    <Condition Message="Необходима установка платформы .NET Framework 4.0 (Client)">
      NETFRAMEWORK40CLIENT
    </Condition>
    

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION"></Property>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Запустить TVProgViewer"/>
    <Property Id="WixShellExecTarget" Value="[INSTALLLOCATION]TVProgViewer.exe"/>
    <CustomAction Id="LaunchApplication"
                  BinaryKey="WixCA"
                  DllEntry="WixShellExec"
                  Impersonate="yes"
                  Execute="immediate"
                    />
    
    <WixVariable Id ="WixUILicenseRtf" Overridable="yes" Value ="License.rtf"/>
    <WixVariable Id ="WixUIBannerBmp" Value="BannerBmp.bmp"/>
    <WixVariable Id ="WixUIDialogBmp" Value="DialogBmp.bmp"/>
    <UIRef Id="WixUI_InstallDir"></UIRef>
    <UI>
      <Publish Dialog="ExitDialog"
             Control="Finish"
             Order ="1"
             Event="DoAction"
             Value="LaunchApplication"
                >
        WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed
      </Publish>
    </UI>
    
  </Product>
</Wix>
