@using TVProgViewer.BusinessLogic.ProgObjs;
@model SystemChannel[]
@{
    ViewBag.Title = "Настройка телеканалов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="choicePnl" style="position: relative; display:none;">
    <div>
        <label for="TVProgProvider">Провайдер ТВ-программы</label>
        <select name="TVProgProvider" id="TVProgProvider" class="input-medium"></select>
    </div>
    <div style="position: absolute; left: 430px; top: 0px">
        <label for="TVProgType">Тип ТВ-программы</label>
        <select name="TVProgType" id="TVProgType" class="input-medium"></select>
    </div>
</div>
<div class="mainwindow">
    <table id="tblUserChannels"></table>
    <table id="userChannelsPager"></table>
</div>

@section scripts {

    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <style type="text/css">
        td {
            border-top-color: transparent !important;
            border-bottom-color: transparent !important
        }

        #gbox_TVProgrammeNowGrid {
            width: 100% !important;
        }

        #gview_TVProgrammeNowGrid {
            width: 100% !important;
        }

        .ui-jqgrid-bdiv {
            width: 100% !important;
        }

        #gbox_TVProgrammeNextGrid {
            width: 100% !important;
        }

        #gview_TVProgrammeNextGrid {
            width: 100% !important;
        }

        #gbox_SearchedTVProgramme {
            width: 100% !important;
        }

        #gview_SearchedTVProgramme {
            width: 100% !important;
        }

        #pg_TVProgrammePager {
            width: 100% !important;
        }

        #pg_TVProgrammeNextPager {
            width: 100% !important;
        }

        #pg_TVProgrammeSearchPager {
            width: 100% !important;
        }

        .ui-jqgrid-hdiv {
            width: 100% !important;
        }

        #TVProgrammePager {
            width: 100% !important;
        }

        #TVProgrammeNextPager {
            width: 100% !important;
        }
    </style>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript">
        $.jgrid.no_legacy_api = true;
        $.jgrid.useJSON = true;
    </script>
    <script src="~/Scripts/user-channels.js"></script>
}